@page
@model GrupedDataUI.Pages.AddActivityModel
@{
    ViewData["Title"] = "Add Activity";
}

<h1>AddActivity</h1>
<form method="post">
    <span asp-validation-for="ActivityModel.Activity" class="text-danger d-block"></span>
    Activity: <input asp-for="ActivityModel.Activity" /><br />
    Description: <input asp-for="ActivityModel.Description" /><br />
    <span asp-validation-for="ActivityModel.Date" class="text-danger d-block"></span>
    Date: <input asp-for="ActivityModel.Date" type="date" /><br />
    <input type="submit" />
</form>
