@page
@model GrupedDataUI.Pages.ActivityIndexModel
@{
    ViewData["Title"] = "ActivitiesOverview";
}

<h1>ActivitiesOverview</h1>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Activity:</th>
                <th>Description:</th>
                <th>Date:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Activities)
            {
                <tr>
                    <td>@item.Activity</td>
                    <td>@item.Description</td>
                    <td>@item.Date</td>
                    <td>
                        <a asp-page="./EditActivity" asp-route-id = "@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
